.gog-prices {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    font-family: 'Saira', sans-serif;
    height: calc(100vh - 40px);
    justify-content: space-between;
    padding: 20px 0;
}

.header-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title .logo {
    height: 100px;
    width: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.header-title h1 {
    position: absolute;
    font-size: 100px;
    font-weight: 900;
    font-style: italic;
    margin: 0;
    line-height: 100px;
    top: 15px;
}

.title-hidden {
    color: rgba(255, 255, 255, 0);
    margin-left: 30px;
}

p {
    color: gray;
    font-size: 16px;
    margin: 4px;
    font-weight: 600;
}

main {
    height: 100%;
    margin: 40px auto;
    width: 80%;
}

.download {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.download-extension {
    display: flex;
    flex-direction: row;
    background: linear-gradient(145deg, rgba(255,0,71,1) 0%, rgba(113,0,255,1) 100%);
    width: fit-content;
    border-radius: 10px;
    margin: 20px;
}

.download-image {
    background: #fff;
    color: #fff;
    padding: 16px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.download-image img {
    width: 50px;
    padding: 0 8px;
}

.download-link {
    text-decoration: none;
    padding: 18px;
}

.download-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.support-link {
    display: flex;
    background: linear-gradient(145deg, rgba(255,0,71,1) 0%, rgba(113,0,255,1) 100%);
    text-decoration: none;
    width: 40%;
    border-radius: 10px;
    justify-content: center;
    padding: 4px;
    align-items: center;
    margin: 40px auto;
}

.support-link p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description p {
    color: #000;
    text-align: center;
}